# DEMOGRAPHICS AND EMPLOYMENT IN THE UNITED STATES

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# load dataset
CPS = pd.read_csv('./data/CPSData.csv')

In [3]:
CPS.describe(include='all')

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
count,131302.000000,131302,131302,97064.000000,131302.000000,105964,131302,105964,131302,131302.000000,131302.000000,131302,105513,66242
unique,NaN,4,51,NaN,NaN,5,2,8,6,NaN,NaN,3,5,14
top,NaN,South,California,NaN,NaN,Married,Female,High school,White,NaN,NaN,"Citizen, Native",Employed,Educational and health services
freq,NaN,41502,11570,NaN,NaN,55509,67481,30906,105921,NaN,NaN,116639,61733,15017
mean,3.284276,NaN,NaN,35074.709264,38.829226,NaN,NaN,NaN,NaN,0.139328,82.684079,NaN,NaN,NaN
std,1.700173,NaN,NaN,16551.637597,22.897130,NaN,NaN,NaN,NaN,0.346289,75.476511,NaN,NaN,NaN
min,1.000000,NaN,NaN,10420.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
25%,2.000000,NaN,NaN,21780.000000,19.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
50%,3.000000,NaN,NaN,34740.000000,39.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
75%,4.000000,NaN,NaN,41860.000000,57.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
max,15.000000,NaN,NaN,79600.000000,85.000000,NaN,NaN,NaN,NaN,1.000000,555.000000,NaN,NaN,NaN

In [4]:
# what is the most common industry of employment?
CPS.groupby('Industry').size().sort_values(ascending=False)

Industry
Educational and health services                15017
Trade                                           8933
Professional and business services              7519
Manufacturing                                   6791
Leisure and hospitality                         6364
Construction                                    4387
Financial                                       4347
Transportation and utilities                    3260
Other services                                  3224
Public administration                           3186
Information                                     1328
Agriculture, forestry, fishing, and hunting     1307
Mining                                           550
Armed forces                                      29
dtype: int64

In [5]:
# sorts the State by the number of interviewees from that region
CPS.groupby('State').size().sort_values(ascending=False)

State
California              11570
Texas                    7077
New York                 5595
Florida                  5149
Pennsylvania             3930
Illinois                 3912
Ohio                     3678
Maryland                 3200
Minnesota                3139
Michigan                 3063
Virginia                 2953
Colorado                 2925
Connecticut              2836
Georgia                  2807
Wisconsin                2686
New Hampshire            2662
North Carolina           2619
New Jersey               2567
Iowa                     2528
Washington               2366
Maine                    2263
Delaware                 2214
Rhode Island             2209
Missouri                 2145
Hawaii                   2099
Indiana                  2004
South Dakota             2000
Massachusetts            1987
Nebraska                 1949
Oregon                   1943
Kansas                   1935
Vermont                  1890
Nevada                   1856
Utah                     1842
Kentucky                 1841
District of Columbia     1791
Tennessee                1784
South Carolina           1658
North Dakota             1645
Wyoming                  1624
Alaska                   1590
Arizona                  1528
Oklahoma                 1523
Idaho                    1518
Louisiana                1450
Arkansas                 1421
West Virginia            1409
Alabama                  1376
Mississippi              1230
Montana                  1214
New Mexico               1102
dtype: int64

In [6]:
# What proportion of interviewees are citizens of the United States?
print(CPS.groupby('Citizenship').size().sort_values(ascending=False))
TOTAL = 131302
citizenship_proportion = (116639 + 7073)/TOTAL
print(citizenship_proportion)

Citizenship
Citizen, Native         116639
Non-Citizen               7590
Citizen, Naturalized      7073
dtype: int64
0

In [7]:
# For which races are there at least 250 interviewees in the CPS dataset of Hispanic ethnicity?
print(CPS[CPS.Hispanic == True].groupby('Race').size().sort_values(ascending=False))

Race
White               16731
Black                 621
Multiracial           448
American Indian       304
Asian                 113
Pacific Islander       77
dtype: int64

In [8]:
# Evaluating Missing Values
CPS.Married.isnull()
print(CPS.groupby(['Age', CPS.Married.isnull()]).size().sort_values(ascending=False))

Age  Married
80   False      2664
85   False      2446
53   False      1994
49   False      1989
50   False      1966
52   False      1935
56   False      1935
51   False      1931
54   False      1912
55   False      1895
58   False      1874
30   False      1854
57   False      1827
43   False      1819
33   False      1804
13   True       1802
12   True       1797
5    True       1795
15   False      1795
48   False      1791
14   True       1790
32   False      1790
44   False      1764
17   False      1764
31   False      1762
59   False      1758
16   False      1751
10   True       1750
45   False      1749
9    True       1748
                ...
63   False      1596
18   False      1596
62   False      1595
66   False      1577
2    True       1574
40   False      1571
65   False      1569
1    True       1559
39   False      1542
22   False      1536
37   False      1531
38   False      1530
21   False      1525
64   False      1519
19   False      1517
20   False      1398
0    True       1283
67   False      1227
70   False      1195
68   False      1130
69   False      1062
71   False      1031
72   False       941
73   False       896
74   False       842
75   False       763
76   False       729
77   False       698
79   False       661
78   False       659
dtype: int64

In [9]:
# Living in a Non Metropolitan city
CPS[CPS.MetroAreaCode.isnull() == False].groupby('State').size().sort_values(ascending=False)
CPS.groupby('State').size().sort_values(ascending=False)

State
California              11570
Texas                    7077
New York                 5595
Florida                  5149
Pennsylvania             3930
Illinois                 3912
Ohio                     3678
Maryland                 3200
Minnesota                3139
Michigan                 3063
Virginia                 2953
Colorado                 2925
Connecticut              2836
Georgia                  2807
Wisconsin                2686
New Hampshire            2662
North Carolina           2619
New Jersey               2567
Iowa                     2528
Washington               2366
Maine                    2263
Delaware                 2214
Rhode Island             2209
Missouri                 2145
Hawaii                   2099
Indiana                  2004
South Dakota             2000
Massachusetts            1987
Nebraska                 1949
Oregon                   1943
Kansas                   1935
Vermont                  1890
Nevada                   1856
Utah                     1842
Kentucky                 1841
District of Columbia     1791
Tennessee                1784
South Carolina           1658
North Dakota             1645
Wyoming                  1624
Alaska                   1590
Arizona                  1528
Oklahoma                 1523
Idaho                    1518
Louisiana                1450
Arkansas                 1421
West Virginia            1409
Alabama                  1376
Mississippi              1230
Montana                  1214
New Mexico               1102
dtype: int64

In [10]:
CPS[CPS.MetroAreaCode.isnull() == True].groupby('Region').size().sort_values(ascending=False)

Region
Midwest      10674
South         9871
West          8084
Northeast     5609
dtype: int64

In [11]:
# Which state has a proportion of interviewees living in a non-metropolitan area closest to 30%?
non_met = CPS[CPS.MetroAreaCode.isnull() == True].groupby('State').size().sort_values(ascending=False)
all_met = CPS.groupby('State').size().sort_values(ascending=False)
prop = non_met/all_met

prop[(prop >= 0.29) & (prop <= 0.30)]

State
Indiana      0.291417
Wisconsin    0.299330
dtype: float64

In [12]:
prop[(prop >= 0.8) & (prop <= 1.0)]

State
Alaska     1.000000
Montana    0.836079
Wyoming    1.000000
dtype: float64

In [13]:
metro_area_codes = pd.read_csv('./data/MetroAreaCodes.csv')
country_codes = pd.read_csv('./data/CountryCodes.csv')

# Number of codes for metropolitan areas
print(len(metro_area_codes))

# Number of coder for country
print(len(country_codes))

271
149

In [14]:
# Integrating Metropolitan Area Data
metro_area_codes['Code'] = metro_area_codes['Code'].astype(float)
merged = pd.merge(CPS, metro_area_codes, left_on='MetroAreaCode', right_on='Code', how='outer')

# People with missing value on MetroAreaCode. Thanks to outer
len(merged[merged['MetroArea'].isnull() == True])

34238

In [15]:
# Which metropolitan area has the largest number of interviewees?
merged.groupby('MetroArea').size().sort_values(ascending=False)

MetroArea
New York-Northern New Jersey-Long Island, NY-NJ-PA    5409
Washington-Arlington-Alexandria, DC-VA-MD-WV          4177
Los Angeles-Long Beach-Santa Ana, CA                  4102
Philadelphia-Camden-Wilmington, PA-NJ-DE              2855
Chicago-Naperville-Joliet, IN-IN-WI                   2772
Providence-Fall River-Warwick, MA-RI                  2284
Boston-Cambridge-Quincy, MA-NH                        2229
Minneapolis-St Paul-Bloomington, MN-WI                1942
Dallas-Fort Worth-Arlington, TX                       1863
Houston-Baytown-Sugar Land, TX                        1649
Honolulu, HI                                          1576
Miami-Fort Lauderdale-Miami Beach, FL                 1554
Atlanta-Sandy Springs-Marietta, GA                    1552
Denver-Aurora, CO                                     1504
Baltimore-Towson, MD                                  1483
San Francisco-Oakland-Fremont, CA                     1386
Detroit-Warren-Livonia, MI                            1354
Las Vegas-Paradise, NV                                1299
Riverside-San Bernardino, CA                          1290
Seattle-Tacoma-Bellevue, WA                           1255
Portland-Vancouver-Beaverton, OR-WA                   1089
Phoenix-Mesa-Scottsdale, AZ                            971
Kansas City, MO-KS                                     962
Omaha-Council Bluffs, NE-IA                            957
St. Louis, MO-IL                                       956
San Diego-Carlsbad-San Marcos, CA                      907
Hartford-West Hartford-East Hartford, CT               885
Tampa-St. Petersburg-Clearwater, FL                    842
Pittsburgh, PA                                         732
Bridgeport-Stamford-Norwalk, CT                        730
                                                      ...
Napa, CA                                                61
Anniston-Oxford, AL                                     61
Chico, CA                                               60
Columbus, GA-AL                                         59
Joplin, MO                                              59
Panama City-Lynn Haven, FL                              59
Madera, CA                                              57
Hickory-Morgantown-Lenoir, NC                           57
Vineland-Millville-Bridgeton, NJ                        54
Prescott, AZ                                            54
Santa Fe, NM                                            52
Johnson City, TN                                        52
Niles-Benton Harbor, MI                                 51
Midland, TX                                             51
Punta Gorda, FL                                         48
Columbia, MO                                            47
Tallahassee, FL                                         43
Warner Robins, GA                                       42
Valdosta, GA                                            42
Bloomington-Normal IL                                   40
Springfield, OH                                         34
Ocean City, NJ                                          30
Bowling Green, KY                                       29
Appleton-Oshkosh-Neenah, WI                              1
Hinesville-Fort Stewart, GA                              1
Greenville-Spartanburg-Anderson, SC                      1
Jamestown, NY                                            1
Grand Rapids-Muskegon-Holland, MI                        1
Portsmouth-Rochester, NH-ME                              1
Kalamazoo-Battle Creek, MI                               1
dtype: int64

In [16]:
# Which metropolitan area has the highest proportion of interviewees of Hispanic ethnicity? 
hispanic = merged.pivot_table(values='Hispanic', columns='MetroArea', aggfunc=np.mean)
hispanic.sort_values(ascending=False)

MetroArea
Laredo, TX                               0.966292
McAllen-Edinburg-Pharr, TX               0.948718
Brownsville-Harlingen, TX                0.797468
El Paso, TX                              0.790984
El Centro, CA                            0.686869
San Antonio, TX                          0.644152
Madera, CA                               0.614035
Corpus Christi, TX                       0.606061
Merced, CA                               0.566038
Salinas, CA                              0.557692
Las Cruses, NM                           0.542056
Tucson, AZ                               0.506623
Riverside-San Bernardino, CA             0.502326
Bakersfield, CA                          0.489796
Miami-Fort Lauderdale-Miami Beach, FL    0.467825
Victoria, TX                             0.465517
Santa Fe, NM                             0.461538
Los Angeles-Long Beach-Santa Ana, CA     0.460263
Albuquerque, NM                          0.441708
Cape Coral-Fort Myers, FL                0.438356
Visalia-Porterville, CA                  0.438017
Fresno, CA                               0.409241
Vineland-Millville-Bridgeton, NJ         0.407407
Santa Barbara-Santa Maria-Goleta, CA     0.401515
Killeen-Temple-Fort Hood, TX             0.386139
Oxnard-Thousand Oaks-Ventura, CA         0.359551
Houston-Baytown-Sugar Land, TX           0.359005
Yakima, WA                               0.357143
Midland, TX                              0.352941
Modesto, CA                              0.341772
                                           ...
Knoxville, TN                            0.005952
Monroe, LA                               0.005587
Dayton, OH                               0.003731
Warner Robins, GA                        0.000000
Florence, AL                             0.000000
Bowling Green, KY                        0.000000
Mobile, AL                               0.000000
Decatur, IL                              0.000000
Anderson, SC                             0.000000
Ann Arbor, MI                            0.000000
Macon, GA                                0.000000
Savannah, GA                             0.000000
Johnstown, PA                            0.000000
Hagerstown-Martinsburg, MD-WV            0.000000
Harrisonburg, VA                         0.000000
Eau Claire, WI                           0.000000
Huntington-Ashland, WV-KY-OH             0.000000
Barnstable Town, MA                      0.000000
Huntsville, AL                           0.000000
Bloomington-Normal IL                    0.000000
Bloomington, IN                          0.000000
Jackson, MI                              0.000000
Salisbury, MD                            0.000000
Appleton-Oshkosh-Neenah, WI                   NaN
Grand Rapids-Muskegon-Holland, MI             NaN
Greenville-Spartanburg-Anderson, SC           NaN
Hinesville-Fort Stewart, GA                   NaN
Jamestown, NY                                 NaN
Kalamazoo-Battle Creek, MI                    NaN
Portsmouth-Rochester, NH-ME                   NaN
Name: Hispanic, dtype: float64

In [17]:
# the number of metropolitan areas in the United States from which at least 20% of interviewees are Asian.
asian = merged.copy()
asian['Race'] = (asian.Race == 'Asian').astype(int)
asian = asian.pivot_table(values='Race', columns='MetroArea', aggfunc=np.mean)
(asian.sort_values(ascending=False) > 0.20)

MetroArea
Honolulu, HI                                           True
San Francisco-Oakland-Fremont, CA                      True
San Jose-Sunnyvale-Santa Clara, CA                     True
Vallejo-Fairfield, CA                                  True
Fresno, CA                                            False
Warner Robins, GA                                     False
Stockton, CA                                          False
Atlantic City, NJ                                     False
Sacramento-Arden-Arcade-Roseville, CA                 False
San Diego-Carlsbad-San Marcos, CA                     False
Los Angeles-Long Beach-Santa Ana, CA                  False
Olympia, WA                                           False
Salinas, CA                                           False
New York-Northern New Jersey-Long Island, NY-NJ-PA    False
Seattle-Tacoma-Bellevue, WA                           False
Visalia-Porterville, CA                               False
Green Bay, WI                                         False
La Crosse, WI                                         False
Ann Arbor, MI                                         False
Bakersfield, CA                                       False
Greensboro-High Point, NC                             False
Las Vegas-Paradise, NV                                False
Minneapolis-St Paul-Bloomington, MN-WI                False
Brownsville-Harlingen, TX                             False
Bloomington-Normal IL                                 False
Oxnard-Thousand Oaks-Ventura, CA                      False
Lake Charles, LA                                      False
Norwich-New London, CT-RI                             False
Atlanta-Sandy Springs-Marietta, GA                    False
Washington-Arlington-Alexandria, DC-VA-MD-WV          False
                                                      ...
Kalamazoo-Battle Creek, MI                            False
Jamestown, NY                                         False
Janesville, WI                                        False
McAllen-Edinburg-Pharr, TX                            False
Florence, AL                                          False
Saginaw-Saginaw Township North, MI                    False
Port St. Lucie-Fort Pierce, FL                        False
Rockford, IL                                          False
Roanoke, VA                                           False
Columbus, GA-AL                                       False
Reading, PA                                           False
Johnson City, TN                                      False
Punta Gorda, FL                                       False
Pueblo, CO                                            False
Poughkeepsie-Newburgh-Middletown, NY                  False
Decatur, IL                                           False
Portsmouth-Rochester, NH-ME                           False
Oshkosh-Neenah, WI                                    False
Midland, TX                                           False
Ocean City, NJ                                        False
Niles-Benton Harbor, MI                               False
Durham, NC                                            False
Eau Claire, WI                                        False
Myrtle Beach-Conway-North Myrtle Beach, SC            False
El Paso, TX                                           False
Erie, PA                                              False
Muskegon-Norton Shores, MI                            False
Monroe, MI                                            False
Farmington, NM                                        False
Laredo, TX                                            False
Name: Race, dtype: bool

In [25]:
# which metropolitan area has the smallest proportion of interviewees who have received no high school diploma
no_education = merged.copy()
no_education['Education'] = (no_education.Education == 'No high school diploma').astype(int)
no_education = no_education.pivot_table(values='Education', columns='MetroArea', aggfunc=np.mean)
no_education.sort_values(ascending=True)

MetroArea
Grand Rapids-Muskegon-Holland, MI       0.000000
Greenville-Spartanburg-Anderson, SC     0.000000
Hinesville-Fort Stewart, GA             0.000000
Portsmouth-Rochester, NH-ME             0.000000
Jamestown, NY                           0.000000
Kalamazoo-Battle Creek, MI              0.000000
Appleton-Oshkosh-Neenah, WI             0.000000
Iowa City, IA                           0.022901
Bowling Green, KY                       0.034483
Kalamazoo-Portage, MI                   0.039370
Champaign-Urbana, IL                    0.040984
Bremerton-Silverdale, WA                0.045977
Jacksonville, NC                        0.047619
Bloomington-Normal IL                   0.050000
Lawrence, KS                            0.051020
Salisbury, MD                           0.054054
Eau Claire, WI                          0.054545
Gainesville, FL                         0.057143
Fort Collins-Loveland, CO               0.058252
Palm Bay-Melbourne-Titusville, FL       0.059524
Madison, WI                             0.059859
Fargo, ND-MN                            0.060185
Altoona, PA                             0.060976
Billings, MT                            0.065327
Ocean City, NJ                          0.066667
Lakeland-Winter Haven, FL               0.067114
Albany-Schenectady-Troy, NY             0.067164
Coeur d'Alene, ID                       0.068376
Asheville, NC                           0.068966
Akron, OH                               0.069264
                                          ...
Los Angeles-Long Beach-Santa Ana, CA    0.185763
Hagerstown-Martinsburg, MD-WV           0.186047
Joplin, MO                              0.186441
Panama City-Lynn Haven, FL              0.186441
Beaumont-Port Author, TX                0.186992
Anderson, SC                            0.187500
Bakersfield, CA                         0.187755
Killeen-Temple-Fort Hood, TX            0.188119
Harrisonburg, VA                        0.188889
Hickory-Morgantown-Lenoir, NC           0.192982
Lafayette, LA                           0.193370
Youngstown-Warren-Boardman, OH          0.196078
Stockton, CA                            0.196891
Brownsville-Harlingen, TX               0.202532
Vineland-Millville-Bridgeton, NJ        0.203704
Montgomery, AL                          0.203883
Tucson, AZ                              0.205298
Lawton, OK                              0.216495
Lancaster, PA                           0.217949
El Paso, TX                             0.225410
Corpus Christi, TX                      0.227273
Laredo, TX                              0.235955
Madera, CA                              0.263158
Springfield, OH                         0.264706
Florence, AL                            0.269841
McAllen-Edinburg-Pharr, TX              0.276923
Longview, TX                            0.276923
Salinas, CA                             0.288462
Kingsport-Bristol, TN-VA                0.298507
Macon, GA                               0.307692
Name: Education, dtype: float64

In [45]:
merged_country = pd.merge(merged, country_codes, left_on='CountryOfBirthCode', right_on='Code', how='outer')
merged_country['Country'].isnull().sum()

183

In [46]:
# Among all interviewees born outside of North America, which country was the most common place of birth?
merged_country.groupby('Country').size().sort_values(ascending=False)

Country
United States                     115063
Mexico                              3921
Philippines                          839
India                                770
China                                581
Puerto Rico                          518
El Salvador                          477
Vietnam                              458
Germany                              438
Cuba                                 426
Canada                               410
Korea                                334
Dominican Republic                   330
Guatemala                            309
Jamaica                              217
Columbia                             206
Honduras                             189
Japan                                187
England                              179
Russia                               173
Haiti                                167
Poland                               162
Brazil                               159
Italy                                149
Iran                                 144
Ecuador                              136
Peru                                 136
Africa, not specified                129
Thailand                             128
United Kingdom                       111
                                   ...
Kuwait                                10
Finland                               10
Bahamas                               10
Belize                                 9
St. Vincent and the Grenadines         9
Algeria                                9
Americas, not specified                9
Fiji                                   9
South America, not specified           7
St. Lucia                              7
Tonga                                  6
Denmark                                6
Latvia                                 6
Samoa                                  6
Senegal                                6
Singapore                              6
Slovakia                               6
Barbados                               6
Zimbabwe                               6
Georgia                                5
Czechoslovakia                         3
Azerbaijan                             3
St. Kitts--Nevis                       3
Tanzania                               2
Northern Ireland                       2
Cyprus                                 1
Wales                                  1
Kosovo                                 1
Other U. S. Island Areas               1
Oceania, not specified                 1
dtype: int64

In [62]:
# What proportion of the interviewees from the "New York-Northern New Jersey-Long Island, 
# NY-NJ-PA" metropolitan area have a country of birth that is not the United States? 
value_1 = float(len(merged_country[(merged_country['Country'] != 'United States') 
                   & (merged_country['MetroArea'] == 'New York-Northern New Jersey-Long Island, NY-NJ-PA')
                   & (merged_country['Country'].isnull() == False)]))
value_2 = float(len(merged_country[(merged_country['Country'] == 'United States') 
                   & (merged_country['MetroArea'] == 'New York-Northern New Jersey-Long Island, NY-NJ-PA')
                   & (merged_country['Country'].isnull() == False)]))
value_1/(value_1 + value_2)

0.30866025166543304

In [69]:
merged_country[merged_country.Country == 'Brazil'].groupby('MetroArea').size().sort_values(ascending=False)

MetroArea
Boston-Cambridge-Quincy, MA-NH                        18
Miami-Fort Lauderdale-Miami Beach, FL                 16
Los Angeles-Long Beach-Santa Ana, CA                   9
Washington-Arlington-Alexandria, DC-VA-MD-WV           8
New York-Northern New Jersey-Long Island, NY-NJ-PA     7
Bridgeport-Stamford-Norwalk, CT                        7
San Francisco-Oakland-Fremont, CA                      6
Danbury, CT                                            5
Davenport-Moline-Rock Island, IA-IL                    4
Philadelphia-Camden-Wilmington, PA-NJ-DE               4
Canton-Massillon, OH                                   3
Providence-Fall River-Warwick, MA-RI                   3
Phoenix-Mesa-Scottsdale, AZ                            3
Salt Lake City, UT                                     3
Jacksonville, FL                                       2
Barnstable Town, MA                                    2
Charlotte-Gastonia-Concord, NC-SC                      2
Chicago-Naperville-Joliet, IN-IN-WI                    2
Orlando, FL                                            2
Sacramento-Arden-Arcade-Roseville, CA                  2
Columbia, SC                                           2
Dallas-Fort Worth-Arlington, TX                        2
Denver-Aurora, CO                                      1
Albuquerque, NM                                        1
Atlanta-Sandy Springs-Marietta, GA                     1
Cape Coral-Fort Myers, FL                              1
Cincinnati-Middletown, OH-KY-IN                        1
Bremerton-Silverdale, WA                               1
Hartford-West Hartford-East Hartford, CT               1
Chico, CA                                              1
Wichita, KS                                            1
Kansas City, MO-KS                                     1
Leominster-Fitchburg-Gardner, MA                       1
Virginia Beach-Norfolk-Newport News, VA-NC             1
Trenton-Ewing, NJ                                      1
Tampa-St. Petersburg-Clearwater, FL                    1
Seattle-Tacoma-Bellevue, WA                            1
San Jose-Sunnyvale-Santa Clara, CA                     1
Salem, OR                                              1
Rochester, NY                                          1
Racine, WI                                             1
Pensacola-Ferry Pass-Brent, FL                         1
Oxnard-Thousand Oaks-Ventura, CA                       1
Montgomery, AL                                         1
Monroe, LA                                             1
Minneapolis-St Paul-Bloomington, MN-WI                 1
Waterbury, CT                                          1
Louisville, KY-IN                                      1
Akron, OH                                              1
dtype: int64