# DEMOGRAPHICS AND EMPLOYMENT IN THE UNITED STATES

In [49]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# load dataset
CPS = pd.read_csv('./data/CPSData.csv')

In [26]:
CPS.describe(include='all')

/Users/kureck/anaconda3/envs/ds/lib/python3.4/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
count,131302.000000,131302,131302,97064.000000,131302.000000,105964,131302,105964,131302,131302.000000,131302.000000,131302,105513,66242
unique,NaN,4,51,NaN,NaN,5,2,8,6,NaN,NaN,3,5,14
top,NaN,South,California,NaN,NaN,Married,Female,High school,White,NaN,NaN,"Citizen, Native",Employed,Educational and health services
freq,NaN,41502,11570,NaN,NaN,55509,67481,30906,105921,NaN,NaN,116639,61733,15017
mean,3.284276,NaN,NaN,35074.709264,38.829226,NaN,NaN,NaN,NaN,0.139328,82.684079,NaN,NaN,NaN
std,1.700173,NaN,NaN,16551.637597,22.897130,NaN,NaN,NaN,NaN,0.346289,75.476511,NaN,NaN,NaN
min,1.000000,NaN,NaN,10420.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
25%,2.000000,NaN,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
50%,3.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
75%,4.000000,NaN,NaN,NaN,57.000000,NaN,NaN,NaN,NaN,0.000000,57.000000,NaN,NaN,NaN
max,15.000000,NaN,NaN,79600.000000,85.000000,NaN,NaN,NaN,NaN,1.000000,555.000000,NaN,NaN,NaN

In [9]:
# what is the most common industry of employment?
CPS.groupby('Industry').size().sort_values(ascending=False)

Industry
Educational and health services                15017
Trade                                           8933
Professional and business services              7519
Manufacturing                                   6791
Leisure and hospitality                         6364
Construction                                    4387
Financial                                       4347
Transportation and utilities                    3260
Other services                                  3224
Public administration                           3186
Information                                     1328
Agriculture, forestry, fishing, and hunting     1307
Mining                                           550
Armed forces                                      29
dtype: int64

In [11]:
# sorts the State by the number of interviewees from that region
CPS.groupby('State').size().sort_values(ascending=False)

State
California              11570
Texas                    7077
New York                 5595
Florida                  5149
Pennsylvania             3930
Illinois                 3912
Ohio                     3678
Maryland                 3200
Minnesota                3139
Michigan                 3063
Virginia                 2953
Colorado                 2925
Connecticut              2836
Georgia                  2807
Wisconsin                2686
New Hampshire            2662
North Carolina           2619
New Jersey               2567
Iowa                     2528
Washington               2366
Maine                    2263
Delaware                 2214
Rhode Island             2209
Missouri                 2145
Hawaii                   2099
Indiana                  2004
South Dakota             2000
Massachusetts            1987
Nebraska                 1949
Oregon                   1943
Kansas                   1935
Vermont                  1890
Nevada                   1856
Utah                     1842
Kentucky                 1841
District of Columbia     1791
Tennessee                1784
South Carolina           1658
North Dakota             1645
Wyoming                  1624
Alaska                   1590
Arizona                  1528
Oklahoma                 1523
Idaho                    1518
Louisiana                1450
Arkansas                 1421
West Virginia            1409
Alabama                  1376
Mississippi              1230
Montana                  1214
New Mexico               1102
dtype: int64

In [21]:
# What proportion of interviewees are citizens of the United States?
print(CPS.groupby('Citizenship').size().sort_values(ascending=False))
TOTAL = 131302
citizenship_proportion = (116639 + 7073)/TOTAL
print(citizenship_proportion)

Citizenship
Citizen, Native         116639
Non-Citizen               7590
Citizen, Naturalized      7073
dtype: int64
0.9421943306271039

In [25]:
# For which races are there at least 250 interviewees in the CPS dataset of Hispanic ethnicity?
print(CPS[CPS.Hispanic == True].groupby('Race').size().sort_values(ascending=False))

Race
White               16731
Black                 621
Multiracial           448
American Indian       304
Asian                 113
Pacific Islander       77
dtype: int64

In [30]:
# Evaluating Missing Values
CPS.Married.isnull()
print(CPS.groupby(['Age', CPS.Married.isnull()]).size().sort_values(ascending=False))

Age  Married
80   False      2664
85   False      2446
53   False      1994
49   False      1989
50   False      1966
52   False      1935
56   False      1935
51   False      1931
54   False      1912
55   False      1895
58   False      1874
30   False      1854
57   False      1827
43   False      1819
33   False      1804
13   True       1802
12   True       1797
5    True       1795
15   False      1795
48   False      1791
14   True       1790
32   False      1790
44   False      1764
17   False      1764
31   False      1762
59   False      1758
16   False      1751
10   True       1750
45   False      1749
9    True       1748
                ...
63   False      1596
18   False      1596
62   False      1595
66   False      1577
2    True       1574
40   False      1571
65   False      1569
1    True       1559
39   False      1542
22   False      1536
37   False      1531
38   False      1530
21   False      1525
64   False      1519
19   False      1517
20   False      1398
0    True       1283
67   False      1227
70   False      1195
68   False      1130
69   False      1062
71   False      1031
72   False       941
73   False       896
74   False       842
75   False       763
76   False       729
77   False       698
79   False       661
78   False       659
dtype: int64

In [46]:
# Living in a Non Metropolitan city
CPS[CPS.MetroAreaCode.isnull() == False].groupby('State').size().sort_values(ascending=False)
CPS.groupby('State').size().sort_values(ascending=False)

State
California              11570
Texas                    7077
New York                 5595
Florida                  5149
Pennsylvania             3930
Illinois                 3912
Ohio                     3678
Maryland                 3200
Minnesota                3139
Michigan                 3063
Virginia                 2953
Colorado                 2925
Connecticut              2836
Georgia                  2807
Wisconsin                2686
New Hampshire            2662
North Carolina           2619
New Jersey               2567
Iowa                     2528
Washington               2366
Maine                    2263
Delaware                 2214
Rhode Island             2209
Missouri                 2145
Hawaii                   2099
Indiana                  2004
South Dakota             2000
Massachusetts            1987
Nebraska                 1949
Oregon                   1943
Kansas                   1935
Vermont                  1890
Nevada                   1856
Utah                     1842
Kentucky                 1841
District of Columbia     1791
Tennessee                1784
South Carolina           1658
North Dakota             1645
Wyoming                  1624
Alaska                   1590
Arizona                  1528
Oklahoma                 1523
Idaho                    1518
Louisiana                1450
Arkansas                 1421
West Virginia            1409
Alabama                  1376
Mississippi              1230
Montana                  1214
New Mexico               1102
dtype: int64

In [47]:
CPS[CPS.MetroAreaCode.isnull() == True].groupby('Region').size().sort_values(ascending=False)

Region
Midwest      10674
South         9871
West          8084
Northeast     5609
dtype: int64

In [90]:
# Which state has a proportion of interviewees living in a non-metropolitan area closest to 30%?
non_met = CPS[CPS.MetroAreaCode.isnull() == True].groupby('State').size().sort_values(ascending=False)
all_met = CPS.groupby('State').size().sort_values(ascending=False)
prop = non_met/all_met

prop[(prop >= 0.29) & (prop <= 0.30)]

State
Indiana      0.291417
Wisconsin    0.299330
dtype: float64

In [91]:
prop[(prop >= 0.8) & (prop <= 1.0)]

State
Alaska     1.000000
Montana    0.836079
Wyoming    1.000000
dtype: float64